@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');


body {
  color: white;
  background: #f1f1f1;
  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: #d1d1d1;
  height: 70px;
  margin-left: 200px;
}

aside {
  background-color: #ccc;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
}

main {
  background-color: #eaeaea;
  margin-left: 225px;
  margin-right: 1%;
  display: block;
  padding-top: 20px;
}

main>div {
  width: 98%;
  margin: 20px auto;
}


aside div:first-child {
  height: 70px;
  padding: 0px;
  background-color: #333333;
  padding-top: 25px;
  height: 45px;
  max-height: 70px;
  overflow: hidden;
  text-align: center;
  font-size: 1.5em;
}

main section {
  background: white;
  display: block;
  height: 50vh;
  width: 48%;
  margin: 15px 1%;
  float: left;
}

main section:last-of-type {
  width: 98%;
  height: 30vh;
}