@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

*{
  text-decoration: none
}

p{
  color: black;
}

body {
  color: white;
  background: #ebecee;
  font-family: 'Poppins', sans-serif;
}


nav {
  background-color: #bfc0c2;
  height: 45px;
  margin-left: 200px;
  padding-top: 25px;
  padding-left: 30px;
  font-weight: 300;
  font-size: 20px;
}

aside {
  background-color: #bfc0c2;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
}

main {
  background-color: #eaeaea;
  margin-left: 225px;
  margin-right: 1%;
  display: block;
  padding-top: 20px;
}

main>div {
  width: 98%;
  margin: 20px auto;
}


aside div:first-child {
  height: 70px;
  padding-top: 25px;
  background-color: #818286;
  height: 45px;
  max-height: 70px;
  overflow: hidden;
  text-align: center;
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: 2px;
}

.lateral{
  padding: 10px;
  line-height:30px
}

.lateral a:hover {
  background: rgb(129, 130, 124);
  text-decoration: none
}

.lateral a:active {
  background: rgb(129, 130, 124);
  text-decoration: none
}

.lateral a:focus {
  background: rgb(129, 130, 124);
  text-decoration: none
}

main section {
  background: white;
  display: block;
  height: 50vh;
  width: 48%;
  margin: 15px 1%;
  float: left;
}

aside ul li a{
  color: white;
  text-decoration: none;
}

a{
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}

main section:last-of-type {
  width: 98%;
  height: 30vh;
}

aside ul li a::before{
  content: ' ';
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #ebecee;
  border-radius: 30px;
  margin-right: 15px;
  position: relative;
  top: 4px;
}

.lateral_abajo{
  margin-top: 84px;
  margin-left: 10px;
}


.dropbtn {
  background-color: rgb(191, 192, 194);
  color: white;
  padding: 6px;
  font-size: 15px;
  border: white 1px solid;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 45px;
  margin-top: -10px;
}

.dropdown {
  position: relative;
  float: right;
}


.dropdown_contenido {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_contenido a {
  color: rgb(64, 65, 64);
  padding: 12px 5px;
  text-decoration: none;
  display: block;
}

.dropdown_contenido a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown_contenido {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(129, 130, 124);
}

div section p{
  color: rgb(129, 130, 124);
  position: absolute;
  top: 100px;
}